/* 基础样式 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* 导航栏样式 */
.navbar {
    position: relative;
    background-color: #333;
    color: #fff;
}

.toggle-btn {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.navbar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none; /* 默认隐藏菜单 */
    background-color: #444;
}

.navbar-menu li {
    padding: 10px;
    border-bottom: 1px solid #555;
}

.navbar-menu li:last-child {
    border-bottom: none;
}

.navbar-menu a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 10px;
}

/* 菜单悬停和点击样式 */
.navbar-menu a:hover {
    background-color: #555;
}

/* 展示菜单 */
.navbar-menu.show {
    display: block;
}
