<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTools Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tools.css') }}" type="text/css">
</head>
<body>
<div class="page_name">

    <h2>
        <a href="{{ url_for('web.index_page') }}"><img src="{{ url_for('static', filename='icon/home.svg') }}" alt="Icon" style="width: 24px; height: 24px;"></a>
        🥳 Tools Shopping online 🥳
    </h2>
</div>
<div class="site-lists">
    <table class="styled-table">
        <thead>
            <tr>
                <th><img src="{{ url_for('static', filename='icon/web.svg') }}" title="网址" alt="web_svg" style="width: 24px; height: 24px;"></th>
                <th>Information</th>
            </tr>
        </thead>
        <tbody>
         {% for web in webs%}
            {% if web.id_type == 'web' %}
               <tr>
                <td><a href={{ web.link_url }}>{{ web.link_name }}</a> </td>
                <td>{{ web.description }}</td>
            </tr>
            {% endif %}
         {% endfor %}
            <!-- 添加更多的行 -->
        </tbody>
    </table>
</div>
<div class="apps">
    <table class="styled-table">
        <thead>
            <tr>
                <th><img src="{{ url_for('static', filename='icon/app.svg') }}" title="应用推荐" alt="app_svg" style="width: 24px; height: 24px;"></th>
                <th>Information</th>
            </tr>
        </thead>
        <tbody>
            {% for web in webs%}
            {% if web.id_type == 'app' %}
               <tr>
                <td><a href={{ web.link_url }}>{{ web.link_name }}</a> </td>
                <td>{{ web.description }}</td>
            </tr>
            {% endif %}
         {% endfor %}
        </tbody>
    </table>
</div>
<div class="books">
    <table class="styled-table">
        <thead>
            <tr>
                <th><img src="{{ url_for('static', filename='icon/book.svg') }}" title="书籍推荐" alt="book_svg" style="width: 24px; height: 24px;"></th>
                <th>Information</th>
            </tr>
        </thead>
        <tbody>
            {% for web in webs%}
            {% if web.id_type == 'book' %}
               <tr>
                <td><a href={{ web.link_url }}>{{ web.link_name }}</a> </td>
                <td>{{ web.description }}</td>
            </tr>
            {% endif %}
         {% endfor %}
            <!-- 添加更多的行 -->
        </tbody>
    </table>
</div>
</body>
</html>
