<button type="button" onclick="showAddForm()">Add</button>

    <div id="add-form">
        <form method="POST" id="add-form-content" action="{{ url_for('add_life') }}">
            <label for="author">标题名字:</label>
            <input type="text" id="author" name="author" required>

            <label for="content">文本内容:</label>
            <textarea id="content" name="content" required></textarea>

            <label for="is_published">显示状态:</label>
            <input type="checkbox" id="is_published" name="is_published">

            <button type="submit" class="btn btn-save">Save</button>
            <button type="button" class="btn btn-cancel" onclick="hideAddForm()">Cancel</button>
        </form>
    </div>