<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='icon.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Moyu lau's site</title>
    {% endblock %}
</head>
<body>
    {% block navbar %}
    <nav>
    <ul>
        <li><a href="{{ url_for('serect_page') }}"><img src="{{ url_for('static', filename='icon.svg') }}" alt="Icon" style="width: 24px; height: 24px;"></a></li>
        <li><a href="{{ url_for('life_page') }}">入校指南</a></li>
        <li><a href="{{ url_for('tools_page') }}">Tools</a></li>
        <li><a href="{{ url_for('self_learn_page') }}">自学建议</a></li>
        <li><a href="{{ url_for('commit_page') }}">留言板</a></li>
        <li><a href="https://github.com/moyuhualuo">
            <span class="fab fa-github" aria-hidden="true">
        </span>
            <span>Moyu's Github</span>
        </a>
        </li>
    </ul>
    </nav>
    {% endblock %}
<section>
    <p>Checking your browser before accessing sci-hub.ru
Please wait a few seconds. Once this check is complete, the website will open automatically</p>
</section>
</body>
</html>