<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/life.css') }}" type="text/css">
    {% block head %}
    <title>demo</title>
    {% endblock %}
</head>
<body>
    <nav class="sidebar">
        <ul class="sidebar-menu">
            <li><a href="{{ url_for('index_page') }}"><img src="{{ url_for('static', filename='icon/home.svg') }}" alt="Icon" style="width: 24px; height: 24px;"></a></li>
            {% block content_one%}
            {% for content in contents %}
                	{% if content.page == 'life' %}
                <li><a href={{ content.author }}>{{ content.author }}</a><li>
                {% endif %}
            {% endfor %}
            {% endblock %}
            <li>
    <i class="like-icon" data-item-id="1" style="cursor: pointer;">💕</i>
    <span class="like-count" data-item-id="1">0</span>
</li>
        </ul>
    </nav>
    <div class="section"><!-- Content will be inserted here -->
    {% block content_two%}
        {% for content in contents %}
            {% if content.page == 'life' %}
            <h2 id={{ content.author }}>{{ content.author }}</h2>
            <pre>{{ content.content }}</pre>
            {% endif %}
        {% endfor %}
    {% endblock %}
    </div>
    <!-- 引入JavaScript文件 -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
