{% extends "life.html" %}
{% block head%}
    <title>Self-learn</title>
{% endblock %}
{% block content_one %}
    {% for content in contents %}
            <li><a href={{ '#' + content.author }}>{{ content.author }}</a><li>
    {% endfor %}
{% endblock %}
{% block content_two %}

    {% if current_user.is_authenticated %}
        <p>You need to <a href="{{ url_for('logout') }}">log out</a> to leave here</p>
            <button type="button" class="btn btn-add" onclick="showAddForm()">Add</button>
    <div id="add-form" style="display: none">
        <form method="POST" id="add-form-content" action="{{ url_for('add_self_learn') }}">
            <label for="author">标题名字:</label>
            <input type="text" id="author" name="author" required>

            <label for="content">文本内容:</label>
            <textarea id="content" name="content" required></textarea>

            <button type="submit" class="btn btn-save">Save</button>
            <button type="button" class="btn btn-cancel" onclick="hideAddForm()">Cancel</button>
        </form>
    </div>
        {% endif %}
	 {% for content in contents %}
            <div class="content-item">
                <h2 id="{{ content.author }}">{{ content.author }}</h2>
                <pre>{{ content.content }}</pre>
                {% if current_user.is_authenticated %}
                <button type="button" class="btn btn-edit" onclick="showEditForm({{ content.id }})">Edit</button>
                <form method="POST" action="{{ url_for('delete_self_learn', id=content.id) }}" style="display:inline;"><button type="submit" class="btn btn-delete">Delete</button>
                </form>
                  <!-- 隐藏的编辑表单，点击编辑按钮时显示 -->
        <div id="edit-form-{{ content.id }}" style="display:none;">
            <form method="POST" action="{{ url_for('edit_self_learn', id=content.id) }}">
                <label for="author-{{ content.id }}">标题名字:</label>
                <input type="text" id="author-{{ content.id }}" name="author" value="{{ content.author }}" required>

                <label for="content-{{ content.id }}">文本内容:</label>
                <textarea id="content-{{ content.id }}" name="content" required>{{ content.content }}</textarea>
                <button type="submit" class="btn btn-save">Save</button>
                <button type="button" class="btn btn-cancel" onclick="hideEditForm({{ content.id }})">Cancel</button>
            </form>
        </div>
                {% endif %}
            </div>
        {% endfor %}
{% endblock %}