{% extends "life.html" %}
{% block head%}
    <title>demo</title>
{% endblock %}
{% block content_one %}
    {% for content in contents %}
        {% if content.page == 'learn' %}
            <li><a href={{ '#' + content.author }}>{{ content.author }}</a><li>
        {% endif %}
    {% endfor %}
{% endblock %}
{% block content_two %}
	 {% for content in contents %}
            {% if content.page == 'learn' %}
            <h2 id={{content.author }}>{{ content.author }}</h2>
            <pre>{{ content.content }}</pre>
            {% endif %}
        {% endfor %}
{% endblock %}