<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebTools Info</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tools.css') }}" type="text/css">
</head>
<body>
<div class="page_name">
    <h2>Tools Shopping online</h2>
</div>
<div class="site-lists">
    <table class="styled-table">
        <thead>
            <tr>
                <th><img src="{{ url_for('static', filename='icon/web.svg') }}" alt="web_svg" style="width: 24px; height: 24px;"></th>
                <th>Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>网站名字或地址或icon</td>
                <td>很长一段内容balabalabalaballalalsdakhdqon</td>
            </tr>
            <tr>
                <td>Data 4</td>
                <td>Data 5</td>
            </tr>
            <!-- 添加更多的行 -->
        </tbody>
    </table>
</div>
<div class="apps">
    <table class="styled-table">
        <thead>
            <tr>
                <th><img src="{{ url_for('static', filename='icon/app.svg') }}" alt="app_svg" style="width: 24px; height: 24px;"></th>
                <th>Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>app名子</td>
                <td>很长一段内容balabalabalaballalalsdakhdqon</td>
            </tr>
            <tr>
                <td>Data 4</td>
                <td>Data 5</td>
            </tr>
            <!-- 添加更多的行 -->
        </tbody>
    </table>
</div>
<div class="books">
    <table class="styled-table">
        <thead>
            <tr>
                <th><img src="{{ url_for('static', filename='icon/book.svg') }}" alt="book_svg" style="width: 24px; height: 24px;"></th>
                <th>Information</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>书名</td>
                <td>很长一段内容balabalabalabal</td>
            </tr>
            <tr>
                <td>Data 4</td>
                <td>Data 5</td>
            </tr>
            <!-- 添加更多的行 -->
        </tbody>
    </table>
</div>
</body>
</html>
